<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>Controller.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCategory</servlet-name>
        <servlet-class>Controller.ManagerCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryController</servlet-name>
        <servlet-class>Controller.AddCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToyController</servlet-name>
        <servlet-class>Controller.AddToyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteToyController</servlet-name>
        <servlet-class>Controller.DeleteToyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryController</servlet-name>
        <servlet-class>Controller.EditCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>Controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>Controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveCategoryController</servlet-name>
        <servlet-class>Controller.ApproveCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCategoryController</servlet-name>
        <servlet-class>Controller.CancelCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveToyController</servlet-name>
        <servlet-class>Controller.ApproveToyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelToyController</servlet-name>
        <servlet-class>Controller.CancelToyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewsController</servlet-name>
        <servlet-class>Controller.AddNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryController</servlet-name>
        <servlet-class>Controller.OrderHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToyWarrantyController</servlet-name>
        <servlet-class>Controller.ToyWarrantyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>Controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>Controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRequestWarranty</servlet-name>
        <servlet-class>Controller.SendRequestWarranty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadWarrantyController</servlet-name>
        <servlet-class>Controller.LoadWarrantyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrderHistoryController</servlet-name>
        <servlet-class>Controller.LoadOrderHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsController</servlet-name>
        <servlet-class>Controller.DetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryOrder</servlet-name>
        <servlet-class>DTO.HistoryOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueController</servlet-name>
        <servlet-class>Controller.RevenueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountStatusController</servlet-name>
        <servlet-class>Controller.AccountStatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/NewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCategory</servlet-name>
        <url-pattern>/ManagerCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryController</servlet-name>
        <url-pattern>/AddCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToyController</servlet-name>
        <url-pattern>/AddToyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteToyController</servlet-name>
        <url-pattern>/DeleteToyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryController</servlet-name>
        <url-pattern>/EditCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveCategoryController</servlet-name>
        <url-pattern>/ApproveCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCategoryController</servlet-name>
        <url-pattern>/CancelCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveToyController</servlet-name>
        <url-pattern>/ApproveToyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelToyController</servlet-name>
        <url-pattern>/CancelToyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewsController</servlet-name>
        <url-pattern>/AddNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryController</servlet-name>
        <url-pattern>/OrderHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToyWarrantyController</servlet-name>
        <url-pattern>/ToyWarrantyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/OrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRequestWarranty</servlet-name>
        <url-pattern>/SendRequestWarranty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadWarrantyController</servlet-name>
        <url-pattern>/LoadWarrantyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrderHistoryController</servlet-name>
        <url-pattern>/LoadOrderHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsController</servlet-name>
        <url-pattern>/DetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryOrder</servlet-name>
        <url-pattern>/HistoryOrder</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>RevenueController</servlet-name>
        <url-pattern>/RevenueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountStatusController</servlet-name>
        <url-pattern>/AccountStatusController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
