/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2024, 10:36:51 PM
    Author     : ADMIN
*/

h1 {
    font-weight: 800;
}

.addProduct {
    display: block;
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 4;
}

.add {
    color: white;
    background-color: greenyellow;
    border: none;
    padding: 1%;
    border-radius: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 3;
}

.table {

}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2024, 10:36:51 PM
    Author     : ADMIN
*/

h1 {
    font-weight: 800;
}

.addProduct {
    display: block;
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 4;    
}

.add {
    color: white;
    background-color: greenyellow;
    border: none;
    padding: 1%;
    border-radius: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 3;
}

form {
    text-align: center;
    background-color: white;
    color: #000;
    width: 20%;
    margin: 10% auto;
    border-radius: 20px;
}

.table {

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    z-index: 2;
}